html,body{
	max-height: 100%;
	max-width: 100%;
}
.container {
    margin:0 auto;
	padding: 2% 2% ;
	max-width: 100%;
	max-height: 100%;

}
.p1{
	text-align: center;
	font-size: 30px;
	font-family: Roboto;
	color: #EB984E ;
	cursor: pointer;
}

li{
	display: inline-block;
	padding-left: 50px;
	padding-top: 20px;
}
nav{
	float:right;
	margin-right: 100px;
	margin-bottom: 20px;
	margin-top:20px;
	
}
.burger{
	display: inline-block;
    color: #262626;
	font-size: 18px;
	font-family:Roboto;
	background-color: #EB984E;
	border-radius: 50px;
	padding: 5px 5px 5px 5px;
}


.burger:hover{
	transform: scale(1.2); 
}
/*FORMA*/
.form-wraper{
	margin-top:49px;
	margin-left: 80px;
	max-width: 530px;
	width: 100%;
	height: 70px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;

}
.input-group{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
	border:2px solid #00000029;
	-webkit-box-shadow: 0px 0px blur 6px #00000029;
	        box-shadow: 0px 0px blur 6px #00000029;
	opacity: 70%
	padding 10px;
	flex-wrap: wrap;
}

.form-group{
	margin-bottom:5px;
	margin-top: 5px;
	width: 100%;
}

#label{
	margin-left:31px;
	opacity:1;
	color: #2E2E2E;
	font-family: 'Roboto', sans-serif;
	font-size:23px;

}
.send{
	background-color: #EB984E;
	color: #262626;
	margin:0 auto;
	max-height: 52px;
	max-width: 151px;
	opacity: 1;
	border:none;
	font-size:21px;
	padding: 20px;
	display: inline-block;
	flex-wrap: wrap;
	cursor: pointer;

}
.zeroimg{
	max-width: 750px;
    width: 100%;
	justify-content: center;
	margin-left: 110px;
	margin-top: 20px;
	filter: opacity(95%);


}

/*footer*/
.footerwrap{
	max-width: 100%;
	max-height:300px;
	width: 100%;
	position: relative;
	margin-top: 600px;
	background-color:#e0e0d1;
    display: flex;
    flex-wrap: wrap;

}
.footerwrap div{
	width:300px; 
	height: 110px;
	margin-left: 108px;
	margin-top: 30px;
	margin-bottom: 60px;
	display: inline-block;
	padding: 0% 5%;
	border-radius: 

}
.socialmedia{
    max-width: 400px;	
    word-spacing: 10px;
}
.contact{
	line-height: 24px;
}
.general{
	line-height:24px; 
}
.socialmedia img{
	width: 25px;
	margin-right: 8px;
}
#bold{
	font-weight: bold;
}
.pfooter{
	display: inline-block;
	text-align: center;
	margin-top: 6px;
	margin-left: 15px;
	background-color: #262626;
	color: white;
    border-radius: 2px;
    padding: 4px 4px 4px 4px;
    border-style: dashed;
    cursor: pointer;
}
/*RESPONSIVE*/
@media (max-width: 1024px){
	#label {
		font-size:19px;
	}
	.form-wraper{
		width: 80%;
	}
	.shavilogo{
		width: 80%;
	}
	.tetrilogo{
		width: 80%;
	}
	li {
		font-size: 19px;
	}
}

@media only screen and (max-width: 792px) {
	#label {
		font-size:15px;
	}
	.form-wraper{
		width: 60%;
	}
	.shavilogo {
		width: 50%;
	}
	.tetrilogo{
		width: 50%;
	}
	li {
		font-size: 15px;
	}
	.send{
		width: 89px;
	}
	p{
		font-size: 13px;
	}
}
@media only screen and (max-width: 480px){
	#label {
		font-size:12px;
	}
	.form-wraper{
		width: 40%;
	}
	.shavilogo{
		width: 40%;
	}
	.tetrilogo{
		width: 40%;
	}
	li {
		font-size: 12px;
	}
	.send{
		width: 80px;
	}
	p{
		font-size: 11px;
	}
}
@media only screen and (max-width: 320px){
	#label {
		font-size:10px;
	}
	.form-wraper{
		width: 10%;
	}
	.shavilogo{
		width: 10%;
	}
	.tetrilogo{
		width: 10%;
	}
	li {
		font-size: 10px;
	}
	.send{
		width: 10px;
	}
	.send{
		width: 80px;
	}
	p{
		font-size: 11px;
	}

}
